

body{
  width: 100vh;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #c5a22e;
  box-shadow: 0 0 10px #f26f6f;


}
input{
  width: 70%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;


}

button{
  width: 70%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;

  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background-color: #d9dd14;
  color: #fff;
  cursor: pointer;
  
}

button:hover{
  background-color: #c5a22e;
  
}